@{
    ViewData["Title"] = "About us";
}

<h1>@ViewData["Title"]</h1>
<p>FPTJob is web-based application made for employer to recruit new employee and people 
    whom are looking for job to get a job in an efficiency way. This website was made 
    to replace the old way of recruitin and jobseeking to give opportunity to unwell-know 
    companies and inexperienced applicant to get things faster and better.</p>
