@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-sm-12">
        <h1 class="display-4">Welcome to FPTJob</h1>
        <p>This is a website for employer to find new employee and jobseeker to find new job faster than the old way.</p>
    </div>
</div>
