@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Do not share your account with other people.</p>
<p>We have the right to use your information for the website.</p>
<p>You need to contact the admin after you have register your acoount to set role for your account.</p>
<p>You cannot access any of the pages that not in your role.</p>
<p>That is all of our policy. Thank you for reading, have a nice day.</p>
